body{
    background-image: url(images/aboutBack.jpg);
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
}

.container h1{
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 1.3;
    color: #223e80;
    margin-top:20%;
}
.container p{
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    margin-top:220px;
    padding-left:15%;
}
.contain .col-md-4:hover{
    background: linear-gradient(white,#223e80 );
    transition: 1.1s;
    transform: scale(1.10);
}
.col-md-4:hover h4{
    font-weight:600;
    font-size: 40px;
}
@media(max-width:800px){
    .container{
        flex-wrap: wrap;
    }
    .container h1{
        font-size: 50px
    }
    .container .text-left p{
        margin-top:50px;
        padding-left:0px;

    }
    .contain .col-md-4{
        padding-top: 25px;
    }
}